:root {
  --PrimaryColor: rgb(210, 8, 8);
  --HoverColor: rgb(165, 22, 22);
  --WhiteColor: hsl(0,0%, 100%);
  --BlackColor: hsl(0,0%, 18%);
  --textColor: hsl(240, 2%, 25%);
  --whiteColorDeam: hsl(0,0%, 93%);
  --greyBg: hsl(0,0%, 96%);
  --greyText: rgb(190,190, 190);
  --inputColor: hsl(330,12%, 97%);
    --bordercolor:rgb(255, 191, 0);
     


}

.home {
  height: 100vh;
  background: url("../Assets/test2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 100px; */
  position: relative;
}
.home .seContainer .homeText {
  text-align: center;
}
.home .seContainer .homeText .subTitles {
  color: var(--WhiteColor);
  background-color: rgb(255, 251, 0);
  opacity: 0.9;
  font-size: 20px;
  font-weight: 600;
  padding: 1rem 0;
  max-width: 70%;
  text-align: center;
  margin: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.home .seContainer .homeText .title {
  color: var(--WhiteColor);
  font-size: 3rem;
  line-height: 2.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.home .seContainer .homeText .subTitle {
  color: var(--WhiteColor);
  opacity: 0.9;
  font-size: 17px;
  font-weight: 500;
  padding: 1rem 0;
  max-width: 70%;
  text-align: center;
  margin: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.home .seContainer .homeText .btn {
  padding: 0.6rem 1.5rem;
  border-radius: 0px;
  margin-top: 1rem;
  color: var(--PrimaryColors);
}
.home .seContainer .homeText .btn:hover {
  /* color: yellow; */
  background-color: var(--bordercolor);
  padding: 0.8rem 1.7rem;
}
.home .seContainer .homeCard {
  width: 90%;
  border-radius: 8px;
  padding: 2rem;
  background: var(--WhiteColor);
  position: absolute;
  gap: 1rem;
  justify-content: center;
  bottom: -15%;
  transform: translate(-50%);
  left: 50%;
  box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
}
.home .seContainer .homeCard .magic {
  height: 20vh;
  background: url("../Assets/nome.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  
  margin: -25px;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: rgba(109, 106, 106, 0.7529411765); /* Couleur de la ligne (noir dans cet exemple) */
  margin: 10px 0; /* Ajustez la marge selon vos besoins */
}

.secTitle {
  text-align: left;
}

.popular .seContainer .secHeader .secTitle {
  text-align: left;
  margin-top: 20px;
  
}

.digital-clock {
  font-family: Arial, sans-serif;
  background-color: black;
  padding: 10px;
  color: red;
  display: inline-block;
  font-family: fantasy;
  font-size: 30px;
  border: none;
  /* border-radius: 5px; */
  position: fixed;
  text-align: center;
  margin:2px;
  border-radius: 5px;
  left:45%;
  top: -20%;
}

/* .digital-clock span {
  position: relative;
  margin: 0 5px;
} */
 .textDiv{
  padding: 100px;
  /* background-image: url(); */
  background-repeat: no-repeat;
  background-size: cover;

 }


