:root {
  --PrimaryColor: rgb(210, 89, 8);
  --HoverColor: rgb(209, 223, 86);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(0, 13%, 18%);
  --textColor: hsl(240, 5%, 16%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --bordercolor:#BA4100;
  /* //#BA4100 */
  /* 290F01 */
}

.navbarSection .header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #290F01 ;
  width: 100%;
  height: 50px;
   border-bottom : 2px solid var(--bordercolor);
  /* margin-top: 1px; */
  /* padding: 10px; */
  z-index: 1000;
}
.navbarSection .header .logoDiv .logo {
  color: var(--bordercolor);
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.navbarSection .header .logoDiv .logo .icon {
  color: var(--bordercolor);
  font-size: 25px;
}






@media screen and (max-width: 768px) {
  .navbarSection .header .navBar {
    background: var(--greyBg);
    position: absolute;
    height: -moz-max-content;
    height: max-content;
    padding: 1rem;
    width: 100%;
    top: 0;
    left: -500%;
    box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
    transition: 0.5s ease;
    z-index: 1000;
  }
  .navbarSection .header .navBar .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .navbarSection .header .navBar .navLists .navItem {
    padding: 0.5rem ;
  }
  .navbarSection .header .navBar .navLists .navItem .navLink {
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 300;
  }
  .navbarSection .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .navbarSection .header .navBar .navLists .headerBtns {
    flex-direction: column;
  }
  .navbarSection .header .navBar .navLists .headerBtns .btn {
    margin-top: 1rem;
  }
  .navbarSection .header .navBar .navLists .headerBtns .btn a {
    font-weight: 600;
  
  }
  .navbarSection .header .navBar .navLists .headerBtns .btn a:hover {
    color: var(--WhiteColor);
  }
  .navbarSection .header .navBar .navLists .headerBtns .loginBtn {
    /* background: none; */
    /* background-color: aqua; */
    /* border: 1px solid var(--PrimaryColor); */
    border-radius: 5px;
    color: var(--PrimaryColor);
  }
  .navbarSection .header .navBar .navLists .headerBtns .loginBtn a {
    color: var(--PrimaryColor);
  }
  .navbarSection .header .navBar .navLists .headerBtns .loginBtn:hover {
    background: var(--HoverColor);
  }
  .navbarSection .header .navBar .navLists .headerBtns .loginBtn:hover a {
    color: var(--WhiteColor);
  }
  .navbarSection .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
  }
  .navbarSection .header .navBar .closeNavbar:hover .icon {
    color: var(--HoverColor);
  }
  .navbarSection .header .activeNavbar {
    left: 0;
  }
}
.navbarSection .header .toggleNavbar .icon {
  font-size: 25px;
  color: var(--WhiteColor);
}
.navbarSection .header .toggleNavbar .icon:hover {
  color: var(--PrimaryColor);
}
.navbarSection .activeHeader {
  background: black;
  box-shadow: 0 2px 8px 2px rgba(15, 15, 15, 0.274);
  margin-top: 0px;
  margin-left: 0px;
}







@media screen and (min-width: 769px) {
  .navbarSection .toggleNavbar,
  .navbarSection .closeNavbar {
    display: none;
  }
  .navbarSection .header {
    padding: 2rem;
  }
  .navbarSection .header .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .navbarSection .header .navBar .navLists .navItem .navLink {
    color: var(--WhiteColor);
    padding: 0.45rem;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
    font-weight: 200;
  }
  .navbarSection .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
    font-family: fantasy;
     font-size: 20px;
     

  }
  .navbarSection .header .navBar .navLists .btn {
    margin-left: 1rem;
  }

  /* testtttt */
  .navbarSection .header .navBar .navLists .btn a {
    color: var(--WhiteColor);
    text-decoration: none;
      font-family: fantasy;
      border-radius: 1px;
 
    /* background-color: #BA4100; */
    /* font-weight: 500; */
  }





  .navbarSection .header .navBar .navLists .loginBtn {
    background:  var(--bordercolor);
    color: white;
    font-size: 20px;
    font-family: fantasy;
    border-radius: 1px; 
     /* margin: 2px; */
  }
  .navbarSection .header .navBar .navLists .loginBtn:hover {
     background: white;  
     color: var(--bordercolor);
     border-radius: 1px; 
  
  }
  .navbarSection .header .navBar .navLists .loginBtn:hover a {
    color: var(--bordercolor);
    text-decoration: none;
  }
}
@media screen and (min-width: 960px) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
