.container-T{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
    /* background-image: url('../../public/video-background.mp4');
    background-size: cover; */
    
}
.image-jon{
 height: 100%;
 /* box-shadow: 2px 2px 2px 2px red; */
 margin-top: 50px;
 margin-bottom: 0px;

}


.text-random{
     font-size: 1.4rem;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: rgb(255, 247, 247);
     background-color: rgba(0, 0, 0, 0.44);
     padding: 20px;
     box-shadow: 2px 1px 1px 1px red;
     margin: 10px;
     width: 50%;
}
.signup-btn{
    color: white;
    background-color: red;
    padding: 10px 20px;
    font-size:1rem;
    border: none;
}
.signup-btn:hover {
    color: red;
    background-color: white;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
}

.container-two{
    height: 70vh;
    background-color: rgb(57, 53, 53);
    border: 1px 1px 1px 1px red;
}
.title-plan{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    color: rgb(80, 78, 78) ;
    text-shadow: 2px 2px 4px rgba(43, 41, 41, 0.5);
    font-style: italic;
     
}

.Cards{
    display: flex;
}
.monthly-card {
    border: 2px solid black;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(248, 247, 247);
    background-image: url(../../../public/card-background-two.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
     border-radius: 20px; 
     -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; 
    box-shadow: 1px solid black;
    perspective: 800px;
    transition: transform 0.5s;
}
.select-btn {
    color: white;
    background-color: black;
    padding: 10px 20px;
    font-size: 1rem;
}
.select-btn:hover {
    color: black;
    background-color: white;
    border: 1px solid rgb(237, 237, 11);
    
}

.Annual-card {
    border: 2px solid black;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(248, 247, 247);
    background-image: url(../../../public/card-background.jpg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    border-radius: 20px;

    /* test */
    perspective: 800px;
    transition: transform 0.5s;
   
}

.Annual-card:hover{
    transform: rotatex(20deg);
    -webkit-transform: rotatex(20deg);
    -moz-transform: rotatex(20deg);
    -ms-transform: rotatex(20deg);
    -o-transform: rotatex(20deg);
    box-shadow: 0 0 20px red;
}
.monthly-card:hover {
    transform: rotatex(20deg);
    -webkit-transform: rotatex(20deg);
    -moz-transform: rotatex(20deg);
    -ms-transform: rotatex(20deg);
    -o-transform: rotatex(20deg);
    box-shadow: 0 0 20px orange;

}
.Annual-card>h2{
    color: rgb(251, 6, 6);
    background: #00000056;
    border-radius: 20px;
    -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
   
}
.monthly-card>h2 {
    color:orange;
    background: #0000003d;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.container-three{
    height: 60vh;
    background-color: rgb(59, 55, 55);
        display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
}

.container-text-1>h3,.container-text-2>h3,.container-text-3 >h3{
    color: rgb(174, 17, 17);
    font-style: italic;
    
}
.container-text-1,.container-text-2,.container-text-3{
    border: 2px solid rgb(59, 57, 57);
    background-color: rgb(80, 78, 78);
    box-shadow: 2px 1px 1px 1px red;
    padding: 9px;
    color: white;
    height: fit-content;
   
}

.container-four {
    background-image: url(../../../public/test333.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 100%;
    background-color: rgb(59, 55, 55);
    padding: 10px;
    position: sticky;
}













